:root {
    --bg-color: #0f0f0f;
    --text-color: #fff;
}

body {
    background-color: var(--bg-color);
    color: var(--text-color);
    font-family: system-ui;
}

.table>:not(caption)>*>* {
    background-color: var(--bg-color);
}